// Custom Button
.btn-custom {
  font-weight: $light-weight;
  padding: 10px;
  border-radius: $border-radius;
  border: none;
  color: white;
  background-color: $gray;
  transition: 0.3s ease-in-out;
}

.btn-custom:hover {
  background-color: $blue-light;
  cursor: pointer;
}

.btn-custom:focus {
  outline: 0;
}
