// Custom Button
.btn-custom {
  font-weight: $heading-weight;
  padding: 10px;
  border-radius: $border-radius;
  border: none;
  color: white;
  background-color: $gray-solid;
  transition: 0.3s ease-in-out;
}

.btn-custom:hover {
  background-color: $blue-light;
  cursor: pointer;
}

.btn-custom:focus {
  outline: 0;
}

// Dropdown
.dropdown {
  width: 100%;
  text-align: start;
  font-weight: $heading-weight;
  font-size: 1.3rem;
  padding: 15px;
  border-radius: 5px 5px 0 0;
  color: white;
  border: none;
  border-bottom: solid $black-opacity 1px;
  background-color: $gray-opacity;
  transition: 0.3s ease-in-out;
}

.dropdown:hover {
  background-color: $blue-light-opacity;
}
