// Custom Button
.btn-custom {
  font-weight: $light-weight;
  padding: 10px;
  border-radius: $border-radius;
  border: none;
  color: white;
  background-color: $gray;
  transition: 0.3s ease-in-out;
  &:hover {
    cursor: pointer;
  }
  &:focus {
    outline: 0;
  }
}

// Custom Dropdown Button
.dropdown-custom {
  text-align: start;
  font-size: $size-data-btn;
  font-weight: $light-weight;
  padding: 7px $table-padding-lr;
  color: white;
  border: none;
  transition: 0.3s ease-in-out;
}
