.category-container {
  border-radius: 5px;
  font-size: $size-data-p;
}

// Dropdown
.category-dropdown {
  width: 100%;
  padding: 12px $table-padding-lr;
  border-radius: 5px 5px 0 0;
  border-bottom: solid $black-opacity 1px;
  background-color: $blue-deep;
  transition: 0.3s ease-in-out;
}

.category-dropdown:hover {
  background-color: $blue-light-opacity;
}
