.data-table {
  background-color: $gray-opacity;
  border-radius: 0 0 $border-radius $border-radius;
}

.ReactTable {
  width: 100%;
  border: none;
}

.ReactTable .rt-thead.-filters input, .ReactTable .rt-thead.-filters select, .ReactTable .-pagination .-pageJump input, .ReactTable .-pagination select {
  padding: 3px 5px;
}

.ReactTable .-pagination .-btn {
  background-color: $gray-dark;
  color: rgb(218, 218, 218);
}

.-sort-asc, .-sort-desc {
  border-color: $blue-light;
}
