@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');
@import url('https://fonts.googleapis.com/css?family=Oswald:300,400');

h1, h2, h3, h4, h5, h6 {
  font-family: 'Oswald', sans-serif;
  font-weight: $light-weight;
}

h1 {
  font-size: 2.25em;
  margin-bottom: 0px;
}

.horizontal-line {
  width: 100%;
  height: 10px;
  border-bottom: solid $gray-solid 1px;
}
