@media screen and (min-width: 1670px) {
  .main-container {
    width: 65%;
  }
}

@media screen and (max-width: 1670px) {
  .main-container {
    width: 75%;
  }
}

@media screen and (max-width: 1500px) {
  .main-container {
    width: 85%;
  }
}

@media screen and (max-width: 1300px) {
  .main-container {
    width: 95%;
  }
}

@media screen and (max-width: 1200px) {
  .main-container {
    width: 100%;

    & p {
      text-align: center;
    }
  }
}

@media screen and (max-width: 550px) {
  .character-header {
    display: flex;
    justify-content: center !important;
    
    .character-heading {
      display: none;
    }
  }
}
