$border-radius: 5px;

// Colors
$black: rgb(26, 26, 26);
$black-opacity: rgba(26, 26, 26, 0.7);

$gray: rgb(59, 59, 59);
$gray-light: rgb(122, 122, 122);
$gray-dark: rgb(41, 41, 41);
$gray-opacity: rgba(59, 59, 59, 0.8);

$blue: rgb(42, 106, 181);

$blue-deep: rgb(50, 64, 94);
$blue-deep-opacity: rgba(50, 64, 94, 0.9);

$blue-light: rgb(62, 124, 175);
$blue-light-opacity: rgba(62, 124, 175, 0.9);

$orange: rgb(194, 112, 54);
$orange-opacity: rgba(194, 112, 54, 0.7);

// Font Style
$light-weight: 300;
$regular-weight: 400;

$size-data-p: 0.889em;
$size-data-btn: 1.266em;

// Alignment
$table-padding-lr: 15px;