$border-radius: 5px;

// Colors
$black: rgb(26, 26, 26);
$black-opacity: rgba(26, 26, 26, 0.7);

$gray: rgb(59, 59, 59);
$gray-dark: rgb(41, 41, 41);
$gray-opacity: rgba(59, 59, 59, 0.8);

$blue-deep: rgb(50, 64, 94);
$blue-deep-opacity: rgba(50, 64, 94, 0.9);

$blue-light: rgb(75, 118, 146);
$blue-light-opacity: rgba(62, 109, 139, 0.9);

// Font Style
$light-weight: 300;
$regular-weight: 400;

$size-data-p: 0.889em;
$size-data-btn: 1.125em;

// Alignment
$table-padding-lr: 15px;