$border-radius: 5px;

// Colors
$black-solid: rgb(26, 26, 26);
$black-opacity: rgba(26, 26, 26, 0.7);

$gray-solid: rgb(59, 59, 59);
$gray-opacity: rgba(59, 59, 59, 0.8);

$blue-deep: rgb(50, 64, 94);
$blue-deep-opacity: rgba(50, 64, 94, 0.9);

$blue-light: rgb(75, 118, 146);
$blue-light-opacity: rgba(62, 109, 139, 0.9);

// Font Style
$light-weight: 300;
$regular-weight: 400;

// Alignment
$table-padding-lr: 21px;